{% extends '_base_game.html' %}
{% load static %}

<!-- TITLE -->
{% block title %}
    Game Theme
{% endblock %}


<!-- CONTENT -->
{% block content %}

    <div class="d-flex justify-content-center align-items-center mt-5">

        <!-- GAME PIN GA O"TISH -->
        <a href="{% url 'game-pin' %}">
            <div class="text-center p-3 shadow rounded up-down">
                <img src="{% static 'img/game_theme/classic_mode.jpeg' %}" alt="rasm">
                <p class="mt-2">Classic Mode</p>
            </div>
        </a>

    </div>

{% endblock %}
