{% extends '_base.html' %}

{% block title %}
    Create List
{% endblock %}

{% block content %}

    <!-- MODALS -->
    {% include 'kahoot/list_create_modal_category.html' %}
    {% include 'kahoot/list_create_modal_question.html' %}

    <!-- CREATE -->
    <div class="d-flex justify-content-center align-items-center gap-3" style="height: 50vh;">

        <!-- CATEGORY CARD -->
        <div class="card up-down" style="width: 18rem;" data-bs-toggle="modal" data-bs-target="#createCategoryModal">
            <div class="card-body">
                <div class="d-flex">
                    <i class="bi bi-plus-square fs-3"></i>
                    <div class="px-3">
                        <h5 class="card-title">Category</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Add</h6>
                    </div>
                </div>
                <p class="card-text">Yangi Category qo'shish</p>
            </div>
        </div>

        <!-- QUESTION CARD -->
        <div class="card up-down" style="width: 18rem;" data-bs-toggle="modal" data-bs-target="#createQuestionModal">
            <div class="card-body">
                <div class="d-flex">
                    <i class="bi bi-plus-square fs-3"></i>
                    <div class="px-3">
                        <h5 class="card-title">Question</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Add</h6>
                    </div>
                </div>
                <p class="card-text">Yangi Savol qo'shish</p>
            </div>
        </div>

    </div>

{% endblock %}
